# ============================================
#  Python & Ambientes Virtuais
# ============================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.venv/
venv/
ENV/
env/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# ============================================
#  Java & Maven
# ============================================
target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ============================================
#  Ambiente e Variáveis (.env)
# ============================================
.env
.env.local
*.local.json

# ============================================
#  Logs
# ============================================
*.log
logs/

# ============================================
#  IDEs e Editores
# ============================================
.idea/
.vscode/
*.swp
*.swo
*.iml
.project
.classpath
.settings/

# ============================================
#  Sistema Operacional
# ============================================
.DS_Store
Thumbs.db


fcm-service-account.json